.schedule_wrapper {
  color: var(--schedule-background);
  padding: 5px;
  line-height: 45px;
  text-align: center;
  user-select: none;
  background-color: #fff;
}

.schedule_days_header {
  background-color: var(--header-color);
}

td,
th {
  width: 300px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .schedule_days_header {
    padding: 0 10px;
  }
}
