.schedule_header {
  color: var(--schedule-background);
  padding: 5px;
  line-height: 45px;
  text-align: center;
  user-select: none;
}

.schedule_days_item {
  background-color: var(--header-color);
}

td,
th {
  width: 300px;
}
