.button {
  background: #ebebeb;
  cursor: pointer;
}

.button:hover {
  transition-duration: 0.1s;
  border: 2px solid var(--header-color);
}

.button:after {
  content: "";
  border-radius: 4em;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 #2b9cce;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button-selected {
  border: 2px solid var(--header-color);
}
